/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* SETUP AND UTILITES */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
body {
    background: #fff;
    overflow: hidden;
}
.relative { position: relative }

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* C3 DISPLAY WIDGETS */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.c3-widget { padding: 10px 0 30px 0 }
g .c3-chart-arcs .c3-chart-arcs-gauge-max,
g .c3-chart-arcs .c3-chart-arcs-gauge-min,
g.c3-chart-arc .c3-gauge-value,
g .c3-chart-arcs .c3-chart-arcs-gauge-unit {
    fill: #fff;
    font-weight: 100;
    font-family: "Helvetica Neue";
    letter-spacing: 0px;
    font-weight: 200;
}
div.c3-widget text.c3-gauge-value {
    color: #fff;
    font-weight: 100;
}
g .c3-chart-arcs .c3-chart-arcs-background {
    fill: rgba(255, 255, 255, 0.3);
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* DISPLAY DIGITS */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
#car-stat-temperature:after {
    content: '\00b0';
}
.car-stat-value-area {
    padding-top: 40px;
    height: 200px;
}
.car-stat-value {
    color: #fff;
    text-align: center;
    font-family: "Helvetica Neue";
    letter-spacing: 1px;
    font-size: 56px;
    font-weight: 100;
    -webkit-animation: statval 10s infinite alternate;
}
.car-stat-label {
    color: #fff;
    text-align: center;
    font-family: "Helvetica Neue";
    letter-spacing: 0px;
    font-size: 20px;
    font-weight: 200;
    -webkit-animation: statval 20s infinite alternate;
}
.car-stat-icon {
    background-color: transparent;
    background-image: url(../media/pubnub.png);
    background-size: 70%;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    color: rgba(255,255,255,0.9);
    text-align: center;
    font-size: 140px;
    line-height: 200px;

    -webkit-animation: staticon 2s infinite alternate;
}
@-webkit-keyframes staticon {
    0%   {-webkit-transform: translate(  0px, -5px ) rotate(0deg);}
    10%  {-webkit-transform: translate(  0px, -5px ) rotate(3deg);}
    25%  {-webkit-transform: translate( -0px,  5px ) rotate(0deg);}
    50%  {-webkit-transform: translate(  0px, -5px ) rotate(-3deg);}
    100% {-webkit-transform: translate( -0px,  5px ) rotate(0deg);}
}
@-webkit-keyframes statval {
    0%   {-webkit-transform: translate(  0px, -9px ) rotate(1deg);}
    25%  {-webkit-transform: translate( -0px,  9px ) rotate(0deg);}
    50%  {-webkit-transform: translate(  0px, -9px ) rotate(-1deg);}
    100% {-webkit-transform: translate( -0px,  9px ) rotate(0deg);}
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* BG COLORS */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.bg-pubnub  { background-color: #ce1126 }
.bg-magenta { background-color: #e91e63 }
.bg-green   { background-color: #bada55 }
.bg-yellow  { background-color: #ffc107 }
.bg-blue    { background-color: #3f51b5 }
.bg-teal    { background-color: #009688 }
.bg-orange  { background-color: #ff5722 }
.bg-purple  { background-color: #ab47bc }

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* HEADER */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.pubnub {
    position: absolute;
    top: 45px;
    left: 128px;
    width: 80px;
    height: 25px;
    opacity: 0.9;
    background-image: url(../media/pubnub.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* TACHOMETER */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* MAPBOX */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
#mapbox {
    margin: 0;
    height: 300px;
    background: transparent;
}
